{% extends "_layout.html" %}
{% block title %}About the conference...{% endblock %}
{% block content %}

<div class="container">

    <h4>Highlighted Topics</h4>

    <ul>
      <li>Multi-modeling and multi-scale</li>
      <li>Algebraic multigrid</li>
      <li>Design and performance for emerging architectures</li>
      <li>Software</li>
      <li>Parallel time integration</li>
      <li>Coupled physics problems</li>
      <li>Structured and matrix-free methods</li>
      <li>Hierarchical low-rank matrix decompositions</li>
      <li>Graph problems</li>
      <li>Multilevel methods for stochastic problems</li>
      <li>Applications</li>
      <li>Machine learning and multilevel methods</li>
    </ul>

    <h4>Conference Format</h4>

    <p class="text-justify">
    The conference typically features morning and afternoon sessions consisting
    of individual talks of approximately 25 minutes each, including time for
    questions.  In addition, special topics workshops and tutorials are often
    held during evening mid-day breaks.  More details can be found below and on
    the <a href="{{info.programlink}}">program</a> page.
    </p>

    <p>
    A <a href="student.html#details">student paper competition</a> is open to
    current and recent students attending the conference.  In addition, a
    <a href="about.html#specialissue">special issue</a> devoted to the themes of
    the conference is open to all.
    </p>

    <p>
    The following tutorials will be offered this year on Sunday:
    <ul class=>
      <li>Multigrid - the Fundamentals</li>
      <li>Algebraic Multigrid and Advanced Topics</li>
      <li>Parallel Multigrid</li>
    </ul>
    </p>

    <p>
    There will also be a reception on Sunday evening and a banquet on Wednesday evening.
    </p>

    <h4 id="specialissue">Journal Special Issue</h4>

    <img class="float-left" alt="nlaa" style="height: 150px; margin-right: 10px;" src="images/NLA2.jpg">

    <p>
     As in previous odd-numbered years, a Special Section of Numerical Linear
     Algebra with Applications is planned. This single issue will be dedicated
     to recent progress in multigrid methods. Submissions are encouraged in all
     aspects of multigrid methods, including this year's highlighted <a href="about.html#topics">topics</a>.
    </p>

    <p>
      Attendees and participants of the conference as well as the general community
      are invited to submit papers. The papers should meet the formatting and
      editorial requirements of Numerical Linear Algebra with Applications.
    </p>

    <p>
    Submissions for the special issue will be accepted from {{deadlines.specialissueopen.date }} until <b>{{ deadlines.specialissue.date}}</b>.
    Papers will be subject to review by a guest Editorial Board.
    </p>

    <p>
      Submissions should be made using the ordinary submission process
      <a href="http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)1099-1506">Numerical Linear Algebra with Applications</a>
      with a statement in the cover letter requesting that the paper be considered for the
      Special Issue on Multigrid Methods.
    </p>

    <h4>Getting Here</h4>

    <p>
     The conference is held at <a href="http://www.coppercolorado.com">Copper
       Mountain</a>, Colorado, located 75 miles west of Denver just off
     interstate I-70 at exit 195.
    </p>

    <p>
    Denver International Airport (DIA) is the closest major airport.
    From there, most attendees either arrive by shuttle or by car rental.
    </p>

    <p>
    Summit Express provides shuttle service from DIA to Copper Mountain.
    The conference group code is FRSCI (<a
    href="https://www.summitexpress.com/reservations/?LOGON=GO&portal=frsci">direct
    link</a>). The code provides 10% off the shared shuttle service.
    The full rates are given on the <a
    href="http://www.summitexpress.com/denver-airport-ski-shuttle-rates/winter-denver-airport-shuttle-rates/">Summit
    Express</a> website.  </p>

    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608266.0883500748!2d-106.0073125920699!3d39.63946148929527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876a6000b7523357%3A0x2fc88aaeeb274fdd!2sCopper+Mountain+Resort!5e0!3m2!1sen!2sus!4v1474934985568" width="800" height="300" style="border:0" allowfullscreen></iframe>
    </div>

</div>
{% block extrajs %}
<script>
$(".maps").click(function() {
	$(".maps iframe").css("pointer-events", "auto");
});
$(".maps").mouseleave(function() {
	$(".maps iframe").css("pointer-events", "none");
});
</script>
{% endblock %}
{% endblock %}
