{% extends "_layout.html" %}
{% block title %}About the conference...{% endblock %}
{% block content %}

<div class="container">

    <h4>Highlighted Topics</h4>

    <ul>
      <li>Multi-modeling and multi-scale</li>
      <li>Algebraic multigrid</li>
      <li>Design and performance for emerging architectures</li>
      <li>Software</li>
      <li>Parallel time integration</li>
      <li>Coupled physics problems</li>
      <li>Structured and matrix-free methods</li>
      <li>Hierarchical low-rank matrix decompositions</li>
      <li>Graph problems</li>
      <li>Multilevel methods for stochastic problems</li>
      <li>Applications</li>
      <li>Machine learning and multilevel methods</li>
    </ul>

    <h4>Conference Format</h4>

    <p class="text-justify">
    The 2021 conference will be a <i>virtual</i> conference, entirely online.

    The daily schedule will involve five days of parallel sessions, with around
    four hours of talks.  More details can be found below and on
    the <a href="{{info.programlink}}">program</a> page.
    </p>

    <p>
    A <a href="student.html#details">student paper competition</a> is open to
    current and recent students attending the conference.  In addition, a
    <a href="about.html#specialissue">special issue</a> devoted to the themes of
    the conference is open to all.
    </p>

    <p>
    The following tutorials will be offered this year.
    <ul class=>
      <li>Multigrid - the Fundamentals (Hans DeSterck, Wed Mar 10)</li>
      <li>Algebraic Multigrid and Advanced Topics (James Brannick and Karsten
      Kahl, Thu Mar 11)</li>
      <li>Parallel Multigrid (Ulrike Yang, Fri Mar 12)</li>
    </ul>
    Each tutorial will be 2 hours long from 16:00 - 18:00 UTC (9am - 11am PDT,
    12pm - 2pm EDT, 17:00 - 19:00 CET)
    </p>

    <h4 id="specialissue">Journal Special Issue</h4>

    <p>
     As in previous odd-numbered years, a special issue
     planned. This single issue will be dedicated
     to recent progress in multigrid methods. Submissions are encouraged in all
     aspects of multigrid methods, including this year's highlighted <a href="about.html#topics">topics</a>.
    </p>

    <p>
      Attendees and participants of the conference as well as the general community
      are invited to submit papers. The papers should meet the formatting and
      editorial requirements of the journal.
    </p>

    <p>
    Submissions for the special issue will be accepted from {{deadlines.specialissueopen.date }} until <b>{{ deadlines.specialissue.date}}</b>.
    Papers will be subject to review by a guest Editorial Board.
    </p>

    <p>
      Submissions should be made using the ordinary submission process
      with a statement in the cover letter requesting that the paper be considered for the
      special issue.
    </p>

{% endblock %}
