{% extends "_layout.html" %}
{% block title %}Lodging{% endblock %}
{% block content %}

<div class="container">
    <h2>Lodging at Copper Mountain</h2>

    <p>
    A typical lodge room has one or two queen beds, and a two-bedroom condominium has
    one or two queen beds in each bedroom, two baths, a kitchen, a dining area,
    and fireplace. Please be sure to verify the number of beds and the layout when
    making reservations.
    </p>

    <h4>Per night rates are as follows</h4>
    <pre>
        {% for d in info.rates -%}
        {% set dd = d.popitem() %}
        {{ dd[0] }}: {{ dd[1] }}
        {%- endfor %}
    </pre>

    <p>

    Make your room reservation directly with Copper Mountain <b>early</b>. We
    have a block of rooms reserved for the conference which is release 30 days
    before the start of the conference. In some previous years, we have indeed
    run out of rooms, so please reserve your rooms as soon as possible.

    <p> State and local taxes (approximately 13.30%) will be added to the cost of the room.
    If available, group rates can be applied to stays two days before and after the
    conference. Identify yourself with the {{info.year}} Conference Group code
    <b>{{info.groupcode}}</b> to get group rates.</p>

    <h4>Individual Lodging Deposit Policy</h4>

    <p> A 15% lodging deposit will be required upon making reservations. The
    balance on the room reservation will be billed to the credit card number on
    file 21 days prior to arrival.</p>

    <h4>Individual Lodging Cancellation Policy</h4>

    <p>For individual attendees who cancel their lodging reservations, the following will be in effect:
    <ul>
      <li>If cancelled 21 days or more prior to arrival date, refund on the deposit amount received will be made less 10%.</li>
      <li>If cancelled less than 21 days prior to arrival date, the individual is subject to full forfeiture of the reservation value.</li>
    </ul>

    <h4>Copper Mountain Resort Reservations</h4>

    Please reference group code <b>{{info.groupcode}}</b>.  Note: if you plan to arrive a day early for the tutorials, you will need to call Copper Lodging directly (see below).

    <ul class="fa-ul">
      <li><i class="fa-li fa fa-phone"></i> North America Toll Free Phone Number: 866-837-2996</li>
      <li><i class="fa-li fa fa-phone"></i> Direct Phone Number: +1 970-968-2318</li>
      <li><i class="fa-li fa fa-at"></i> Website: <a href="{{info.lodginglink}}">Website</a> (note: only silver 1 bedroom and silver hotel are available via the web)</li>
      <li><i class="fa-li fa fa-envelope"></i> <a href="http://www.coppercolorado.com/winter/contact_us">Email (webform)</a> </li>
    </ul>
</div>

{% endblock %}
